Repository suidagang/vue2_eslint_prettier_hasky: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

提交
  src/App.vue
Due: eslint, prettier --write

111
  src/App.vue
Due: eslint, prettier --write

测试
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint, prettier --write

测试提交----
  src/App.vue
Due: eslint, prettier --write

fix: 测试
  .husky/commit-msg
Due: none

feat: 测试lint
  src/App.vue
Due: eslint, prettier --write

fix: 完善校验
  .eslintcache
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  src/App.vue
  vue.config.js
Due: eslint, prettier --write

fix: 完善
  .eslintcache
  package.json
Due: prettier --write

fix: 这是啥
  package.json
Due: prettier --write

fix: 哈哈
  src/App.vue
Due: eslint, prettier --write

fix: format测试
  .husky/pre-commit
  src/App.vue
Due: eslint, prettier --write

fix: 测试prettier
  package.json
  src/App.vue
Due: eslint, prettier --write

fix: 失败提交
  package.json
  src/App.vue
Due: eslint, prettier --write

fix: 测试add
  commitlint.config.js
  package-lock.json
  pre-commit
  src/App.vue
Due: eslint, prettier --write

fix: add
  commitlint.config.js
  src/App.vue
Due: eslint, prettier --write

fix: 咋办嘛
  src/App.vue
Due: eslint, prettier --write

fix: 测试
  package.json
  src/App.vue
  yarn.lock
Due: eslint, prettier --write

fix: dd
  .husky/pre-commit
  src/App.vue
Due: eslint, prettier --write

fix: 还原
  .husky/pre-commit
  src/App.vue
Due: eslint, prettier --write

feat: 新增git提交规范说明
  GITREADME.md
  package.json
  yarn.lock
Due: prettier --write

fix: style
  GITREADME.md
Due: prettier --write

fix: 测试add
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

test: 哈哈
  package.json
Due: prettier --write

test: 提交前测试
  package.json
Due: prettier --write

test: 哈哈啊1
  package.json
Due: prettier --write

test: 问题
  src/App.vue
Due: eslint, prettier --write

test: aa
  src/App.vue
Due: eslint, prettier --write

test: shiver
  package.json
  src/App.vue
Due: eslint, prettier --write

test: 测试
  .husky/pre-commit
Due: none

test: 测试完成
  package.json
Due: prettier --write

feat: 测试
  package-lock.json
  package.json
Due: prettier --write

feat: 下拉树以及时间问题
  src/App.vue
  src/views/home.vue
  项目结构说明.md
Due: eslint, prettier --write

fix: 删除多余代码
  src/views/home.vue
Due: eslint, prettier --write

fix: test
  src/views/home.vue
Due: eslint, prettier --write

feat: add-stylelint
  .stylelintrc.js
  package.json
  src/App.vue
  src/components/public/Pagination/index.vue
  src/views/home.vue
  yarn.lock
Due: eslint, prettier --write

feat: test-stylelint
  package.json
Due: prettier --write

fix: test
  src/common/commonStyle/variable.less
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,vue}
  prettier --write: ((any of: *.{js,vue}) or (any of: *.{less,scss})) or (any of: *.{js,css,json,md})
